.btn_word {
	background: linear-gradient(orange 0%,yellow 100%);
 	color: black;
	font-size: 25px;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	text-transform: uppercase;
}
.btn {
	background: linear-gradient(orange 0%,yellow 100%);
 	color: black;
	font-size: 25px;
	text-align: center;
	border-radius: 10px;
}
.btn_start {
	background: linear-gradient(to bottom, #0bc408 0%,#09a206 100%);
 	color: black;
	font-size: 50px;
	width: 500px;
	height: 100px;
	text-align: center;
	border-radius: 10px;
}
.first {
	text-align: center;
	font-style: oblique;
	font-size: 23px;
	color: blue;
}

.second {
	color: #FFF68F;
	text-align: center;
	font-style: italic;
	font-size: 25px;
}
input {
	width: 60px;
	height: 40px;
	text-align: center;
	font-size: 25px;
	border-color: lime;
}
body{
	background-image: url(http://www.radionetplus.ru/uploads/posts/2013-05/1369460629_panda-1.jpeg);
	text-align: center;
}

h2{
	color: yellow;
}
h3{
	font-variant: small-caps;
	color: #FFD700;
	text-align: right;
	margin-right: 50px;

}
#title {
	margin-bottom: 50px;
	font-size: 50px;
	font-weight: bolder;
	font-variant: small-caps;
	font-style: normal;
	color: orange;
}
#log {
	font-size: 70px;
	color: #EE7600;
	text-align: center;
}