.btn_word {
	background: linear-gradient(orange 0%,yellow 100%);
 	color: #009ACD;
	font-size: 25px;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: bolder;
}
.btn {
	background: linear-gradient(orange 0%,yellow 100%);
 	color: black;
	font-size: 25px;
	text-align: center;
	border-radius: 10px;
}
.btn_start {
	background: linear-gradient(to bottom, #3A5FCD 0%,#63B8FF 100%);
 	color: #FFD700;
	font-size: 50px;
	width: 500px;
	height: 100px;
	text-align: center;
	border-radius: 10px;
	font-family: cursive;
}
.first {
	text-align: center;
	font-style: oblique;
	font-size: 23px;
	color: blue;
}

.second {
	color: #FF7F50;
	text-align: center;
	font-size: 25px;
	font-family: fantasy;
}
input {
	width: 60px;
	height: 40px;
	text-align: center;
	font-size: 30px;
	border-color: #104E8B;
	background: #B0E0E6;
	font-variant: small-caps;
	font-weight: bold;
}
body{
	background-image: url(http://www.radionetplus.ru/uploads/posts/2013-05/1369460629_panda-1.jpeg);
	text-align: center;
}

h2{
	color: yellow;
	font-weight: bold;
}
h3{
	font-variant: small-caps;
	color: #EEB422;
	text-align: right;
	margin-right: 50px;

}
#title {
	margin-bottom: 50px;
	font-size: 50px;
	font-weight: bolder;
	font-variant: small-caps;
	font-style: normal;
	color: orange;
}
#head {
	font-size: 70px;
	color: #EE7600;
	text-align: center;
}